<ion-content padding>

   <div>
      <ion-title>Information Completion</ion-title>
      <div class="note-outlined sides-off">
         <p>
            This information will be added to your health record.
            It will be saved on your device and will not be shared 
            among healthcare institutions without your consent.
         </p>
      </div>
   </div>


   <form [formGroup]="userInfoForm">

      <ion-item class="form-item">
         <ion-input formControlName="nameCtrl" placeholder="Full Name" required></ion-input>
      </ion-item>

      <ion-item class="form-item">
         <ion-label>
            <span>Birthdate</span>
         </ion-label>
         <ion-datetime formControlName="birthCtrl" display-format="MMMM D, YYYY"></ion-datetime>
      </ion-item>

      <ion-list class="form-item">
         <ion-radio-group formControlName="genderSelectCtrl">

            <ion-list-header>
               <ion-label>
                  <span>Gender</span>
               </ion-label>
            </ion-list-header>

            <ion-item>
               <ion-label>
                  <span>Male</span>
               </ion-label>
               <ion-radio slot="end" value="male" checked></ion-radio>
            </ion-item>
            
            <ion-item>
               <ion-label>
                  <span>Female</span>
               </ion-label>
               <ion-radio slot="end" value="female"></ion-radio>
            </ion-item>

         </ion-radio-group>
      </ion-list>

      <ion-item class="form-item">
         <ion-input formControlName="phoneCtrl" placeholder="Phone" required></ion-input>
      </ion-item>

      <ion-item class="form-item">
         <ion-label>
            <span>Country</span>
         </ion-label>
         <ion-select formControlName="countryCtrl" (ngModelChange)="onCountrySelect($event)">
            <ion-select-option *ngFor="let c of countries">
               {{c.name}}
            </ion-select-option>
         </ion-select>
      </ion-item>

      <ion-item class="form-item">
         <ion-label>
            <span>City</span>
         </ion-label>
         <ion-select formControlName="cityCtrl">
            <ion-select-option *ngFor="let c of countryCities">
               {{c.matching_full_name}}
            </ion-select-option>
         </ion-select>
      </ion-item>

      <ion-item class="form-item">
         <ion-input formControlName="addressCtrl" placeholder="Address" required></ion-input>
      </ion-item>

   </form>


   <ion-button (click)="onUserInfoSubmit()" expand="block" fill="clear">
      Submit
   </ion-button>

</ion-content>
   