<ion-tabs>
   <ion-tab-bar slot="bottom">

      <ion-tab-button tab="home">
         <ion-icon name="home"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="record">
         <ion-icon name="today"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="notifications">
         <ion-badge *ngIf="numberOfNotifications>0" id="notifications-badge" color="primary">
            {{numberOfNotifications}}
         </ion-badge>
         <ion-icon name="notifications"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="settings">
         <ion-icon name="settings"></ion-icon>
      </ion-tab-button>

   </ion-tab-bar>
</ion-tabs>
