<ion-content padding center>

      <div class="header-text">
         <h2>
            <b>Welcome,</b><br>
            <span style="color:rgb(130, 130, 130);">sign up to continue</span>
         </h2>
      </div>
      
      <form [formGroup]="registrationFormGroup" novalidate>

      </form>
      <ion-list>

         <ion-item>
            <ion-input formControlName="nameCtrl" placeholder="Name" required></ion-input>
         </ion-item>
   
         <ion-item>
            <ion-input formControlName="usernameCtrl" placeholder="Username" required></ion-input>
         </ion-item>
   
         <ion-item>
            <ion-input formControlName="emailCtrl" placeholder="Email" required></ion-input>
         </ion-item>
         
         <ion-item>
               <ion-input formControlName="passwordCtrl" placeholder="Password" required></ion-input>
         </ion-item>
   
         <ion-item>
            <ion-input formControlName="passwordConfirmCtrl" placeholder="Confirm Password" required></ion-input>
         </ion-item>
   
      </ion-list>
   

      <ion-button (click)="onRegistration()" expand="block" fill="clear">
         Register
      </ion-button>
   
      <br>
   
      <a class="login-text" href="javascript:void(0)" (click)="toLogin()">
         Already have an account ? <b>Sign In</b>
      </a>
   
   </ion-content>
   