.arrow-back {
   float:left;
}

.arrow-back ion-icon {
   font-size: 1.7em;
}

ion-title {
   text-align: center;
}

ion-content {
   --background: rgb(240, 240, 240);
}

.info-group {
   margin-bottom: 10vh;
}

.button-reject {
   color: rgb(235, 130, 130);
}

.sub-header {
   font-weight: bold;
}
